body {
  font-family: "Sora", sans-serif;
  background: #F399D6;
}

h1 {
  text-align: center;
}

img {
  margin: auto;
  display: block;
  width: 50em;
  height: 30em;
  background: #000;
}

form {
  display: block; 
  text-align: center;
  padding: 2em;
  word-spacing: 3px;
}